In [33]:
import pandas as pd

In [34]:
import numpy as np

In [35]:
dataset = pd.read_csv('tree1.csv')

In [36]:
dataset

      cuaca temperatur lembaban  angin bermain
0     cerah      panas   tinggi  tidak   tidak
1     cerah      panas   tinggi     ya   tidak
2   mendung      panas   tinggi  tidak      ya
3     hujan     sedang   tinggi  tidak      ya
4     hujan     dingin   normal  tidak      ya
5     hujan     dingin   normal     ya      ya
6   mendung     dingin   normal     ya      ya
7     cerah     sedang   tinggi  tidak      ya
8     cerah     dingin   normal  tidak   tidak
9     hujan     sedang   normal  tidak      ya
10    cerah     sedang   normal     ya      ya
11  mendung     sedang   tinggi     ya      ya
12  mendung      panas   normal  tidak      ya
13    hujan     sedang   tinggi     ya   tidak

In [37]:
x = dataset.iloc[:,:-1]

In [38]:
x

      cuaca temperatur lembaban  angin
0     cerah      panas   tinggi  tidak
1     cerah      panas   tinggi     ya
2   mendung      panas   tinggi  tidak
3     hujan     sedang   tinggi  tidak
4     hujan     dingin   normal  tidak
5     hujan     dingin   normal     ya
6   mendung     dingin   normal     ya
7     cerah     sedang   tinggi  tidak
8     cerah     dingin   normal  tidak
9     hujan     sedang   normal  tidak
10    cerah     sedang   normal     ya
11  mendung     sedang   tinggi     ya
12  mendung      panas   normal  tidak
13    hujan     sedang   tinggi     ya

In [42]:
y = dataset.iloc[:,2]

In [26]:
y

0     tidak;
1     tidak;
2        ya;
3         ya
4        ya;
5        ya;
6        ya;
7        ya;
8     tidak;
9        ya;
10        ya
11       NaN
12       ya;
13    tidak;
Name: bermain;, dtype: object

In [74]:
from sklearn.preprocessing import LabelEncoder

In [75]:
labelencoder_x = LabelEncoder()

In [76]:
x = x.apply(LabelEncoder().fit_transform)

In [77]:
x

    Nomer  cuaca  temperatur  lembaban  angin
0       0      0           1         1      0
1       1      0           1         1      2
2       2      2           1         1      0
3       3      1           2         1      1
4       4      1           0         0      0
5       5      1           0         0      2
6       6      2           0         0      2
7       7      0           2         1      0
8       8      0           0         0      0
9       9      1           2         0      0
10     10      0           2         0      3
11     11      2           2         2      2
12     12      2           1         0      0
13     13      1           2         1      2

In [27]:
from sklearn.tree import DecisionTreeClassifier

In [26]:
regressor=DecisionTreeClassifier()

In [81]:
regressor.fit(x.iloc[:,1:2],y)

ValueError: could not convert string to float: panas

In [61]:
x_in = np.array([1,1,0,0])

In [ ]:
y_pred = regressor.predict([x_in])

In [63]:
y_pred

NameError: name 'y_pred' is not defined

In [65]:
from sickit.externals.six import StringIO

ImportError: No module named sickit.externals.six

In [66]:
from IPython.display import Image

In [67]:
from sklearn.tree import export_graphviz

In [68]:
import pydotplus

In [82]:
dot_data=StringIO()

NameError: name 'StringIO' is not defined

In [6]:
export_graphviz(regressor, out_file = dot_data, filled = True, rounded=True, special_characters = True)

NameError: name 'export_graphviz' is not defined

In [10]:
graph=pydotplus.graph_from_dot_data(dot_data.getvalue())

NameError: name 'dot_data' is not defined

In [ ]:
graph.write_png("tree.png")